.container {
    margin: auto;
    width: 80%;
    border: solid;
    padding: 27px;
    left: 0px;

}

.jumbotron {
    background-color:#0d2b58;
    color: white;
    font-size:36px;
}

.form {
    border: solid;

}
#inside-container {
    width:50%;
    margin: 0 auto;
    border: solid;
    padding:10px;
}

    